.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
  max-width: 600px;
}

.widget h3 {
  margin: 0 0 calc(var(--ring-unit) * 2) 0;
  font-size: 20px;
  font-weight: 500;
}

.widget h4 {
  margin: 0 0 calc(var(--ring-unit) * 2) 0;
  font-size: 16px;
  font-weight: 500;
}

.widget ol {
  margin: calc(var(--ring-unit)) 0;
  padding-left: calc(var(--ring-unit) * 3);
}

.widget ol li {
  margin-bottom: calc(var(--ring-unit) / 2);
}

.widget p {
  margin: calc(var(--ring-unit)) 0;
}
